%ul.nav.nav-tabs.mb-2
  %li.nav-item{role: 'presentation'}
    %a.nav-link{href: projects_path, class: ('active'  if controller_name == 'projects')} Projects
  %li.nav-item{role: 'presentation'}
    %a.nav-link{href: members_path, class: ('active'  if controller_name == 'members')} Members
