%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.mb-2
  %button.navbar-toggler.navbar-toggler-right{type: 'button', data: {toggle: 'collapse', target: '#navbarSupportedContent'}}
    %span.navbar-toggler-icon
  %a.navbar-brand{href: admin_projects_path} Admin

  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item{class: ('active'  if controller_name == 'announcements')}
        %a.nav-link{href: admin_announcements_path} Announcements
      %li.nav-item{class: ('active'  if controller_name == 'projects')}
        %a.nav-link{href: admin_projects_path} Projects
      %li.nav-item{class: ('active'  if controller_name == 'members')}
        %a.nav-link{href: admin_members_path} Members
      %li.nav-item{class: ('active'  if controller_name == 'groups')}
        %a.nav-link{href: admin_groups_path} Groups

    %ul.navbar-nav.navbar-right
      %li.nav-item
        = link_to "Logout", destroy_admin_session_path, method: :delete, class: 'nav-link'
