%header
  #date-display
    = @datetime

%h1 Stuff we're working on

%table.table
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.status
        %td
          - project.members.each do |member|
            %span.badge.badge-pill.badge-default
              = member.initials
