body.admin {

  header {
    line-height: 70px;
  }

  td.actions a {
    margin-right: 4px;
  }

  .form-control[type="color"] {
    height: 38px;
  }

  .badge.color-hex {
    text-transform: uppercase;
  }

}
