// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
}

body.home {
  font-family: "News Cycle";
  color: #fff;
  background-color: #1f2526;
  height: 100%;

  .container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  header {
    margin-top: 10px;
    border-bottom: 1px dashed #C6C6C5;

    h6 {
      font-size: 0.9rem;
      color: #6F6F6E;
    }
  }

  #time-display {
    min-width: 55px;
  }

  #date-display {
    color: #C6C6C5;
  }

  section.announcements {
    text-transform: uppercase;
    white-space: nowrap;
    height: 50px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px dashed #C6C6C5;

    .ticker-line {
      position: absolute;
      height: 100%;
      margin: 0;
      text-align: center;
      transform: translateX(0px);
      animation: announcements 15s linear infinite;
    }

    @keyframes announcements {
      0% {
        transform: translateX(0px);
      }
    }

    .ticker-train {
      display: inline-block;
    }

    .announcement-box {
      display: inline-block;
      padding: 10px 10px;
      font-size: 1.1rem;

      .emoji  img {
        height: 28px;
      }

      .announcement-text {
        margin: 0 5px;
        border-bottom: 2px solid #3C3C3B;
      }
    }

  }

  section.projects {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h5 {
    text-transform: uppercase;
    color: #6F6F6E;
    font-weight: bold;
  }

  .table td {
    text-transform: uppercase;
    vertical-align: middle;
    border-top: none;
    border-bottom: 2px solid #3C3C3B;
  }

  .td-min-pad {
    height: 1px;
    padding: 10px 0px 5px 0px;
  }

  td .indicator {
    border-left: 6px solid;
  }

  .block {
    vertical-align: middle;
    display: inline-block;
  }

  .group-square {
    text-align: center;
    background: #292F30;
    border-radius: 10%;
    line-height: 50px;
    height: 50px;
    width: 50px;
    margin: 4px;  
  }

  .member-circle {
    text-align: center;
    background: #292F30;
    border-radius: 50%;
    line-height: 50px;
    height: 50px;
    width: 50px;
    margin: 4px;
  }

}
