// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.home {
  font-family: "News Cycle";

  h1 {
    text-transform: uppercase;
  }

  .table {
    text-transform: uppercase;
  }
}
