%h2 Member

%p
  %strong Name:
  = @member.name

%p
  %strong Initials:
  = @member.initials

%h5 Projects:
%ul
  - @member.projects.each do |project|
    %li
      = link_to project.name, project

= link_to 'Back', members_path
